<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>
    <body>
        <h1>Bandas de <%= genero %></h1>
        <ul>
            <% if (lista && lista.length > 0) { %>
                <% for (let i = 0; i < lista.length; i++) { %>
                    <a href="/bandas/<%= lista[i].id %>"><%= lista[i].nombre %></a> 
                <% } %>
            <% } else { %>
                <p>No hay bandas de <%= genero %>.</p>
            <% } %>
        </ul>

    </body>
</html>